numpy
setuptools
gnureadline
plotly
pandas
dash
dash-html-components
dash-core-components
dash-renderer
flask
flask_sqlalchemy
APScheduler
rpi_rf
pandas-compat
gunicorn

# Minitid packages
jupyter
jupyterlab
biopython
pyliftover
scipy
networkx
#myvariant
#mygene
#pysam
#joblib
#jupyter_contrib_nbextensions
#ipywidgets
#solidpython
#cffi
#dwf
